.jumbotron
  .container
    %h1 ShortList
    %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    = link_to '#', class: 'btn btn-primary' do
      Learn more
      = fa_icon 'chevron-right'